

/* montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* == [ defaults ]
== == == == == == == == == */
@import url( "./Globals/defalts.css" );
*,
*::before,
*::after {
   margin:0; 
   padding:0; 
   box-sizing:border-box;
}

[hidden] {
   display: none;
}

:root {
   font: 1em "inter";
   font-weight: 400;
   color: #bbb;
   
   
   color-scheme: light dark;
   /* vite */
   background-color: #242424; 
   /* dark reader */
   background: #1e2021;       
   /* céo */
   background-color: #212329;  

   --main-c: #f5f5f5;
   --appbar-shadow: rgba( 0 0 0 .25 ) 0 4px 8px;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;


}

/* == [ defaults ] 
== == == == == == == == == */

h1, h2, h3, h4, h5, h6, 
t1, t2, t3, t4, t5, t6,
ct1, ct2, ct3, ct4, ct5, ct6 {
   display: block;
   color: #fff;
   font-family: "Montserrat", sans-serif;
   font-weight: bold;
   font-optical-sizing: auto;
   font-style: normal;
}

p, t, txt, li {
   font-family: "inter", "Roboto", sans-serif;
   font-weight: normal;
   line-height: 1.75em;
   color: #999;
}

h1, h2, h3, h4, h5, h6,
p, t, txt {
   overflow-wrap: break-word;
}

t { 
   display: block; 
   font-size: 1em;
   line-height: 1.5em;
}

ct1, ct2, ct3, ct4, ct5, ct6 {
   text-align: center;
}

p { margin: 1em 0; }


h1 {
   font-size: 2em; margin: 0.67em 0; 
   line-height: 2.75em;
}

h2 {
   font-size: 1.5em; margin: 0.83em 0; line-height: 2.25em;
}

h3 {
   font-size: 1.4em; margin: 1em 0; line-height: 2.15em;
}

h4 {
   font-size: 1.25em; margin: 1.33em 0; line-height: 2em;
}

h5 {
   font-size: 1.15em; margin: 1.67em 0; line-height: 1.9em;
}

h6 {
   font-size: 1em; margin: 2.33em 0; line-height: ;
}

t1, t2, t3, t4, t5, t6,
ct1, ct2, ct3, ct4, ct5, ct6 { margin: 0; }

t1, ct1 { font-size: 2em; line-height: 2.75em; }
t2, ct2 { font-size: 1.5em; line-height: 2.25em; }
t3, ct3 { font-size: 1.4em; line-height: 2.15em; }
t4, ct4 { font-size: 1.25em; line-height: 2em; }
t5, ct5 { font-size: 1.15em; line-height: 1.9em; }
t6, ct6 { font-size: 1em; line-height: 1em; }

ul, ol {
   margin: 1em 0;
   padding-left: 2.2em;
}

dl {
   display: flex;
   flex-direction: column;
   gap: 1em;
}
dt, dt > * {   
   font-weight: bold;
}

dd {
   padding-left: 2em;
}

emphasis {
   display: flex;
   padding: 1.5em;
   box-shadow: #9995 -6px 0 0 -1px;
   line-height: 1.75em;
}

form {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

label {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

lt {
   font: 14px sans-serif;
   padding: 0 1rem;
}

input, [input] {
   height: 56px;
   border-radius: 9px;
   border: #fff2 1px solid;
   padding: 1rem;
   font-size: 1rem;
   background: #18161c;
}
input[type="submit"],
btn, button {
   background: #27f;
   font-weight: bold;
}

body {
   min-height: 100vh;
   margin: 0;
}

appbar {
   
}

homepage, home-page {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   /* padding: 1em 0; */
   /* background: var(--main-c); */
}

main, [main] {
   display: flex;
   flex-direction: column;
}

view, [view] {
   display: flex;
   flex-direction: column;
   margin: auto;
   flex: 1;
}

section, [section] 

content, [content] {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 1rem;
}

child, [child] {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
}



[np] { padding: 0 !important; }

video {
   width: clamp( 100px, 100%, 759.98px );
   aspect-ratio: 16 / 9;
}

[gap] { gap: 2em; }

page, [page] {
   display: flex;
   flex-direction: column;
   width: clamp( 100px, 100%, 1092px );
   margin: 0 auto;
}

sheet, [sheet] {
   display: flex;
   flex-direction: column;
   width: clamp( 100px, 100%, 759.98px );
   margin: 0 auto;
   padding: 1.5em 0;
}





box, [box] {
   display: flex;
   flex-direction: column;
   border-radius: 9px;
   border: #9995 1px solid;
   margin: 1em;
   padding: 0 1em;
}

table {
   border-collapse: collapse;
   width: 95%;
   margin: auto;
}
td {
   text-align: center;
}
th, td {
   padding: 0.5rem;
}





@media ( prefers-color-scheme: light ) {
   :root {
      color: #213547;
      background-color: #ffffff;
      --paper-c: #fff;
      --main-c: #f5f5f5;
   }
   a:hover {
      color: #747bff;
   }
   button {
      background-color: #27f;
   } button a {
      color: #e9e6e3;
   }

}

@media ( prefers-color-scheme: dark ) {
   :root {
      color: #bbb;
      background-color: #212329;
      background-color: #1b1d22;
      
      --appbar-c: #1b1d22;
      --paper-c: #1b1d22;
      --main-c: #212329;
      --paper-border-c: #fff3 0 0 0 1px;
      --respostas-border-c: #fc05 0 0 0 1px;
   }

   a:hover {
      color: #747bff;
   }
   button {
      background-color: #fc0;
   } button a {
      color: #16181c;
   }

   code {
      display: block;
      background: #0005;
      padding: .5rem;
      border-radius: 9px;
      white-space: break-spaces;
      backdrop-filter: blur( 12px );
   }
}




/* == [ properties ] 
== == == == == == == == == */
block, [block] { display: block; }
flex, [flex] {
   display: flex;
   width: 100%;
   align-items: center;
   /* justify-content: space-around; */
   align-items: stretch;
}

[central] {
   margin: auto;
}

[pd="2em"] { padding: 2em; }



/* stlesheet */
[w-s] { width: clamp( 100px, 100%, 750px ); margin: auto; }
[w-m] { width: clamp( 100px, 100%, 950px ); margin: auto; }
[w-l] { width: clamp( 100px, 100%, 1250px ); margin: auto; }

/* c-colors */
c-red { color: crimson; }
c-blue { color: #29f; }
c-pink { color: #fc0fc0; }
c-amber { color: #fc0; }

placeholder img {
   display: block;
   width: 100%;
}