

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cinzel+Decorative:wght@400;700;900&family=Open+Sans:wght@500;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');

*:not( h1,h2,h3,h4,h5,h6,p,menu,ul,ol,li,hr,pre,dd,blockquote,fieldset,legend ),
*:not( h1,h2,h3,h4,h5,h6,p,menu,ul,ol,li,hr,pre,dd,blockquote,fieldset,legend )::before,
*:not( h1,h2,h3,h4,h5,h6,p,menu,ul,ol,li,hr,pre,dd,blockquote,fieldset,legend )::after {
    margin:0; padding:0; box-sizing:border-box;
}

:root {
    --dark0: #16181c;   --dark1: #1b1d22;
    --dark2: #212329;   --dark3: #505257;

    --light0: #ffffff;  --light1: #f5f5f5;

    --pink: #f29;   --amber: #ffab00;   --red: #ce3635;
    --azul: #27f;   --green: #006400;   --blue: #149cbe;
    --texto: #e9e6e3;

    --green-dark: #8b6d19;  --green-light: #a17d1a; --green-bg: #fbf6e9;
    --purple-dark: #603479;   --purple-light: #965bb9;  --purple-bg: #f4edf7;
    --red-dark: #902726;    --red-light: #b83232;   --red-bg: #fceeee;
    --blue-dark: #1c5b6e;   --blue-light: #267d97;  --blue-bg: #ebf6fb;

    --appbar-height: 81px;
    --appbar-filter-shadow: drop-shadow( #0009 0 0 5px );
    --sidebar-width: 68px;
}

[link],[page] { cursor: pointer; }
[link]:hover, [page]:hover { color: #27f; transition: .3s ease-in-out; }

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var( --pink );
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: var( --dark0 );
    border-radius: 5px;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background: #1b1d22;

    background-color: #1b1d22;
    background-image:   linear-gradient(0deg, #00000000 24px, #313339 25px),
                        linear-gradient(90deg, #00000000 24px, #313339 25px);
    background-size: 25px 25px;}
body {
    width: calc( 100% - var( --sidebar-width ) );
    min-height: 100vh;
    margin-left: var( --sidebar-width );
    padding-top: 81px;
    color: var( --texto );
    font-family: 'Poppins';
    -webkit-font-smoothing: antialiased;
}
body > main > article,
body > main > section {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}
t1, t2, t3, t4, t5, t6, t7 {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.2;
    word-wrap: break-word;
    color: #27f;
}
t { font-size: 1rem; }
t1 { font-size: 3rem; color: #e33; }
t2 { font-size: 2.5rem; color: #f29; }
t3 { font-size: 2.25rem; }
t4 { font-size: 1.8rem; }
t5 { font-size: 1.5rem; }
t6 { font-size: 1.25rem; }
t7 { font-size: 1.1rem; }
p { word-wrap: break-word; }
li { margin: 0.8ch 0; font-size: inherit; }
li > :nth-child( 1n ) {
    padding-top: 1ch;
    padding-bottom: 1ch;
}
li::marker {
    /* unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    font-variant-numeric: slashed-zero;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important; */
    font-size: larger;
    font-weight: bolder;
    color: #da0;
}

img {
    /* width: 300px; */
}
app-bar {
    display: block;
    width: 100%;
    height: 81px;
    position: fixed;
    top: 0; left: 0;
    z-index: 9;
    background: var( --dark0 );
    filter: var( --appbar-filter-shadow );
}
app-bar home {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: clamp( 100px, 100%, 1230px );
    height: 81px;
}

button, input[type='button'] {
    padding: 1rem 2rem;
    border-radius: 0.5em;
    border: none;
    background: var( --azul );
    box-shadow: var( --purple-light ) 0 2px 0 1px;
    transform: translateY(-1px);
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #fff;
    transition: .15s all ease;
    cursor: pointer;
}
button:hover, input[type='button']:hover {
    box-shadow: var( --purple-light ) 0 4px 0 1px;
    transform: translateY(-3px);
    transition: .15s all ease;
}
button:active, input[type='button']:active {
    box-shadow: var( --purple-light ) 0 2px 0 1px;
    transform: translateY(-1px);
    transition: .15s all ease;
}
article > section {
    margin: 0 auto;
    padding: 24px;
    background: var(--dark1);
}
article > section > header-links {
    display: block;
}
article > section > home {
    display: block;
    margin: 20px 0 50px;
}
article > section > home > * {
    padding: 20px 0;
}
post {
    display: block;
    flex: auto;
    max-width: 800px;
    margin: 0 auto;
    padding: 90px 0;
}
post-home {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    border-radius: 6px;
    background: #212329;
}
post-home > post-header {
    display: block;
    padding: 70px 95px;
}
post-home:has( post-header ) post-body {
    padding-top: 0;
}
post-body {
    display: block;
    padding: 70px 95px;
}
post-home:has( post-footer ) post-body {
    padding-bottom: 0;
}
post-footer {
    display: block;
    padding: 40px 95px;
}